@media screen and (min-width: 767px) and (max-width: 1023px) {
  @-webkit-keyframes loader {
    100% {
      opacity: 0;
      z-index: -5;
    }
  }

  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -5;
    }
  }
  .loader {
    -webkit-animation: loader 1s;
    animation: loader 1s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
  }

  h1 {
    font-size: 1em;
    font-family: "Shrikhand-Regular.ttf";
    font-weight: lighter;
    margin-bottom: 10px;
  }

  #loading {
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 6px solid rgba(192, 34, 245, 0.3);
    border-radius: 50%;
    border-top-color: rgb(82, 4, 56);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    position: fixed;
  }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  /**Header**/
  #logo img {
    /*dimension logo*/
    width: 78%;
  }

  #logo {
    /*bouger le logo*/
    margin-top: 4%;
    margin-right: 15%;
  }

  #positionParis {
    /*background et div englobante de Paris et icon*/
    height: 100px;
  }

  #positionParis p  /*titre Paris*/ {
    font-size: 1.7rem;
  }

  .fa-map-marker-alt {
    /*icon*/
    font-size: 1.5rem;
    position: relative;
    bottom: 53%;
  }
  /***Section explore et reserve***/
  #ReserveExplore {
    /*background de la div*/
    width: 100%;
  }

  #ReserveExplore p {
    /*paragraphe*/
    font-size: 1.9rem;
  }
  #ReserveExplore h2 {
    /*titre Reservation*/
    font-size: 2rem;
    width: 95%;
    position: relative;
    right: 0.3%;
  }

  .BoutonExplore {
    /* le background du bouton explore */
    position: relative;
    top: 40px;
    left: 27%;
    padding: 35px;
    width: 40%;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 500ms;
  }
  .BoutonExplore a {
    /*all buton Explore lien et police*/
    font-size: 1.5rem;
    padding-top: 10px;
    position: relative;
    bottom: 5px;
  }
  .BoutonExplore:hover {
    background: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #b195d4 100%
    );
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  }
  /***Section Foctionnement***/
  #Fonctionnement h2 {
    /*Titre Fonctionnement*/
    font-size: 2.2rem;
    margin-left: 1.7rem;
  }
  .BoutonTitre {
    /*all title of cards */
    width: 88%;
    height: 50px;
    cursor: pointer;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }

  .BoutonTitre:hover {
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
    background-color: #c9aeeb;
  }
  .BoutonNumero {
    /*button number*/
    position: relative;
    top: 85px;
    left: 0.2rem;
    z-index: 1;
    background-color: #9356dc;
    color: white;
    font-size: 1.2rem;
    font-family: "Roboto-Bold.ttf";
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  #Fonctionnement a {
    /*tout les a de fonctionnement et le taille de police*/
    font-size: 1.4rem;
    position: relative;
    top: 20%;
  }
  .fa-mobile-alt:before,
  .fa-list:before,    /*icon*/
  .fa-store:before {
    font-size: 2.2rem;
    position: relative;
    left: 80px;
    bottom: 63px;
  }
  /***Section Restaurant***/

  #Restaurant h2 /*titre Restaurant*/ {
    font-size: 2.3rem;
  }
  .boxcard figure {
    /* all figure of Restaurant*/
    width: 95%;
    height: 400px;
  }

  .boxcard figure img {
    /*all img of Restaurant*/
    width: 100.9%;
    height: 300px;
  }

  figure {
    /*bouger les cards*/
    position: relative;
    left: 1%;
  }

  figcaption :nth-child(1)  /*titre principal figure*/ {
    font-size: 2rem;
    position: relative;
    bottom: 15px;
  }

  figcaption :nth-child(2)  /*titre secondaire figure*/ {
    font-size: 1.8rem;
    position: relative;
    bottom: 39px;
  }

  .nouveau {
    /*Vignete nouveau sur les cards*/
    font-family: "Roboto-Bold.ttf";
    color: #1f997c;
    background-color: #99e2d0;
    border: transparent;
    padding: 23px;
    width: 90px;
    font-size: 1.3rem;
    position: absolute;
    bottom: 290px;
    right: 8px;
  }

  .fa-heart:before {
    /*icon ceour*/
    font-size: 2.7rem;
  }

  .heart {
    position: relative; /*icon Heart*/
    font-size: 1.7rem;
    color: rgb(53, 53, 53);
    margin-right: 6%;
    bottom: 40px;
  }

  .heart .fa-heart::before {
    content: "\f004";
  }

  .heart2 .fa-heart::before {
    color: violet;
    cursor: pointer;
    font-weight: bold;
    transition: color 1.2s ease-out;
    opacity: 0;
    font-size: 2.7rem;
  }

  .heart2 .fa-heart:active::before {
    animation: 3s essai forwards;
  }
  .corazon:active .heart .fa-heart::before {
    animation: 3s cora forwards;
  }
  @keyframes essai {
    100% {
      opacity: 1;
    }
  }

  @keyframes cora {
    100% {
      opacity: 0;
    }
  }

  .heart2 {
    position: relative;
    bottom: 58px;
    margin-right: 6%;
  }

  .heart .fa-heart {
    color: #fff;
    border-radius: 50%;
    padding: 0.2em;
  }

  /***footer**/

  footer {
    height: 230px;
    padding-top: 1px;
    margin-top: 100px;
  }
  footer h3 {
    font-family: "Shrikhand-Regular.ttf";
    font-weight: lighter;
    margin-top: 3%;
    margin-left: 6%;
    color: rgba(235, 235, 235, 0.897);
    text-decoration: none;
  }

  .footerText {
    margin-left: 35px;
  }

  footer h3 {
    margin-left: 40px;
    font-size: 1.4rem;
    margin-bottom: 2%;
  }

  .footerText a {
    text-decoration: none; /*tout les paragraphe cliquable*/
    color: white;
  }

  footer a {
    /*enlever la décoration par défaut*/
    text-decoration: none;
  }

  .ustensils {
    /*icon unstensils de cuisine*/
    padding: 0 15px 0 5px;
  }

  .hands {
    /*icon mains*/
    padding-right: 14px;
  }
}
