@media screen and (min-width: 311px) and (max-width: 323px) {
  #ReserveExplore h2 {
    font-size: 1.5rem;
    width: 95%;
    text-align: center; /*titre reservation*/
    margin-top: 10%;
    margin-left: 2%;
  }

  #ReserveExplore p {
    font-size: 1.3rem;
    width: 95%; /*paragraphe*/
    text-align: center;
    margin-left: 3%;
  }
  .fa-map-marker-alt {
    /*icon*/
    margin-left: 20%;
  }
  .BoutonExplore a {
    font-size: 1rem; /*all buton Explore lien*/
    text-align: center;
  }

  .BoutonExplore {
    text-align: center;
    position: relative;
    left: 47px;
    top: 30px;
    width: 60%;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }

  .BoutonExplore:hover {
    transform: scale(1.15);
    background: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #b195d4 100%
    );
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  }
  .fa-mobile-alt:before,
  .fa-list:before,
  .fa-store:before {
    font-size: 1.3rem;
    position: relative;
    left: 50px;
  }

  .BoutonTitre  /*all tittle of foctionnement contour */ {
    width: 80%;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }

  .BoutonTitre:hover {
    background: rgba(235, 235, 235, 0.993);
  }

  #Fonctionnement a {
    /*font des titre fonctiont*/
    font-size: 1rem;
  }

  .BoutonNumero {
    z-index: 1;
  }
  .boxcard figure/* all figure of Restaurant*/ {
    width: 92%;
  }

  .boxcard figure img {
    width: 102.5%;
  }

  .fa-heart:before        /*icon Heart*/ {
    position: absolute;
    bottom: 35px;
    right: 2%;
    font-size: 1.7rem;
    color: rgb(53, 53, 53);
  }

  .nouveau {
    font-family: "Roboto-Bold.ttf";
    color: #1f997c;
    background-color: #99e2d0;
    /*Vignete nouveau sur les cards*/
    padding: 6px 15px;
    position: absolute;
    right: 0.2px;
    bottom: 228px;
    border: transparent;
    font-size: 1rem;
  }

  footer {
    height: 220px;
    padding-top: 2%;
    margin-top: 50px;
  }

  .footerText {
    margin-left: 35px;
  }

  footer h3 {
    margin-left: 40px;
    font-size: 1.4rem;
    margin-bottom: 2%;
  }

  .ustensils {
    padding: 0 15px 0 5px;
  }

  .hands {
    padding-right: 14px;
  }
}

@media screen and (min-width: 200px) and (max-width: 310px) {
  #ReserveExplore h2 {
    font-size: 1.5rem;
    width: 95%;
    text-align: center; /*titre reservation*/
    margin-top: 10%;
    margin-left: 2%;
  }

  #ReserveExplore p {
    font-size: 1.3rem;
    width: 95%; /*paragraphe*/
    text-align: center;
    margin-left: 3%;
  }
  .fa-map-marker-alt {
    /*icon*/
    margin-left: 20%;
  }
  .BoutonExplore a {
    font-size: 1.1rem;
    width: 400px; /*all buton Explore lien*/
    text-align: center;
  }

  .BoutonExplore {
    width: 70%;
    text-align: center;
    position: relative;
    top: 20px;
    left: 25px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }

  .BoutonExplore:hover {
    transform: scale(1.15);
    background: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #b195d4 100%
    );
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  }

  .fa-mobile-alt:before,
  .fa-list:before,
  .fa-store:before {
    font-size: 1.3rem;
    position: relative;
    left: 50px;
  }

  .BoutonTitre  /*all tittle of foctionnement contour */ {
    width: 80%;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }

  .BoutonTitre:hover {
    background: rgba(235, 235, 235, 0.993);
  }

  .BoutonNumero {
    z-index: 1;
  }

  #Fonctionnement a {
    /*font des titre fonctiont*/
    font-size: 1rem;
  }

  .boxcard figure/* all figure of Restaurant*/ {
    width: 92%;
  }

  .boxcard figure img {
    width: 102.5%;
  }

  .fa-heart:before        /*icon Heart*/ {
    position: absolute;
    bottom: 35px;
    right: 2%;
    font-size: 1.7rem;
    color: rgb(53, 53, 53);
  }

  .nouveau {
    font-family: "Roboto-Bold.ttf";
    color: #1f997c;
    background-color: #99e2d0;
    /*Vignete nouveau sur les cards*/
    padding: 6px 15px;
    position: absolute;
    right: 0.2px;
    bottom: 230px;
    border: transparent;
    font-size: 1rem;
  }
  /***Footer***/
  footer {
    height: 210px;
    padding-top: 2%;
    margin-top: 50px;
  }

  .footerText {
    margin-left: 8%;
  }

  footer h3 {
    margin-left: 40px;
    font-size: 1.4rem;
    margin-bottom: 2%;
  }

  .ustensils {
    /*icon ustensils de cuisine*/
    padding: 0 13px 0 5px;
  }

  .hands {
    /*icon mains*/
    padding-right: 12px;
  }
}
