@media screen and (min-width: 322px) and (max-width: 766px) {
  @font-face {
    font-family: "Shrikhand-Regular.ttf";
    src: url("fontfamily/Shrikhand-Regular.ttf");
    src: url("fontfamily/Shrikhand-Regular.ttf?#iefix")
        format("fontfamily/Shrikhand-Regular.ttfembedded-opentype"),
      url("fontfamily/Shrikhand-Regular.ttf") format("woff"),
      url("fontfamily/Shrikhand-Regular.ttf") format("truetype"),
      url("fontfamily/Shrikhand-Regular.ttf") format("svg");
  }
  /*Les fonts*/
  @font-face {
    font-family: "Roboto-Italic.ttf";
    src: url("fontfamily/Roboto-Italic.ttf");
    src: url("fontfamily/Roboto-Italic.ttf?#iefix")
        format("fontfamily/Roboto-Italic.ttfembedded-opentype"),
      url("fontfamily/Roboto-Italic.ttf") format("woff"),
      url("fontfamily/Roboto-Italic.ttf") format("truetype"),
      url("fontfamily/Roboto-Italic.ttf") format("svg");
  }
  @font-face {
    font-family: "Roboto-Bold.ttf";
    src: url("fontfamily/Roboto-Bold.ttf");
    src: url("fontfamily/Roboto-Bold.ttf")
        format("fontfamily/Roboto-Bold.ttfembedded-opentype"),
      url("fontfamily/Roboto-Bold.ttf") format("woff"),
      url("fontfamily/Roboto-Bold.ttf") format("truetype"),
      url("fontfamily/Roboto-Bold.ttf") format("svg");
  }
  body {
    margin: 0;
  }
  /**Header**/
  #logo img {
    width: 60%;
  }

  #logo {
    margin-top: 8%;
    margin-left: 27%;
  }
  /*Paris*/
  #positionParis {
    box-shadow: 0px 3px 3px #73737338 inset;
    background-color: #eeecec;
    padding-top: 2px; /*background et div englobante de Paris et icon*/
    height: 55px;
    margin-top: 10px;
  }
  #positionParis p {
    font-family: "roboto,sans-serif.ttf";
    font-size: 18px;
    font-weight: bold; /*titre Paris*/
    color: rgb(56, 55, 55);
    display: flex;
    justify-content: center;
  }

  .fa-map-marker-alt {
    color: rgb(71, 71, 71);
    position: relative;
    bottom: 38px; /*modification et positionment icon localitation*/
    margin-left: 26%;
    font-size: 17px;
    display: flex;
    justify-content: center;
  }
  /***Section explore et reserve***/
  #ReserveExplore {
    background-color: rgb(245, 245, 245);
    padding-top: 1%; /*background de la div*/
    padding-bottom: 30%;
    text-align: center;
    width: 100%;
  }

  #ReserveExplore h2 {
    font-size: 1.5rem;
    width: 95%;
    text-align: center;
    font-family: "roboto", sans-serif; /*titre reservation*/
    font-weight: bold;
    margin-top: 10%;
    margin-left: 2%;
  }

  #ReserveExplore p {
    display: inline;
    font-family: "roboto,sans-serif.ttf";
    color: rgb(88, 88, 88);
    font-size: 1.3rem;
    width: 95%; /*paragraphe*/
    text-align: center;
    margin-left: 3%;
  }

  .BoutonExplore {
    border-radius: 10px/20px;
    border-radius: 100px 100px 100px 97px;
    background-image: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #9356dc 100%
    ); /* le background du bouton recherche   */
    height: 20px;
    width: 60%;
    text-align: center;
    padding: 17px;
    position: absolute;
    right: 16%;
    margin-top: 20px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }
  .BoutonExplore a {
    font-size: 1.1rem;
    width: 400px;
    text-decoration: none; /*all buton Explore lien*/
    color: white;
    font-family: "Roboto-Bold.ttf";
    cursor: pointer;
    text-align: center;
  }

  .BoutonExplore:hover {
    transform: scale(1.15);
    background: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #b195d4 100%
    );
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  }
  /***Section Fonctionnement***/

  #Fonctionnement {
    background-color: transparent; /*div englobante*/
  }
  #Fonctionnement a {
    text-decoration: none;
    color: black;
    font-family: "Roboto-Bold.ttf"; /*tout les a de fonctionnement*/
    cursor: pointer;
    font-size: 1.1rem;
    width: 400px;
  }
  #Fonctionnement h2 {
    font-family: "Roboto-Bold.ttf"; /*Titre Fonctionnement*/
    margin-top: 10%;
    margin-left: 1rem;
  }
  .BoutonNumero {
    border-radius: 50%;
    background-color: #9356dc;
    color: white; /*All Button Number*/
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    font-family: "Roboto-Bold.ttf";
    position: relative;
    top: 50px;
    left: 0.2rem;
    width: 10px;
    display: flex;
    align-content: flex-start;
    cursor: pointer;
    z-index: 1;
  }

  .BoutonTitre {
    border-radius: 30px 20px 20px 30px;
    box-shadow: #d1d1d1 5px 5px 5px; /*all tittle of foctionnement*/
    background-color: rgb(243, 243, 243);
    padding: 25px;
    text-align: center;
    width: 80%;
    margin-left: 4%;
    margin-bottom: 0;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }

  .BoutonTitre:hover {
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
    background-color: #c9aeeb;
  }

  .fa-mobile-alt:before,
  .fa-list:before,
  .fa-store:before {
    /*icon*/
    color: rgb(88, 88, 88);
    position: relative;
    bottom: 48px;
    left: 55px;
    font-size: 1.3rem;
  }

  .SurvolIcon:hover .fa-store:before,
  .SurvolIcon:hover .fa-list:before,
  .SurvolIcon:hover .fa-mobile-alt:before {
    /*icon au survol*/
    color: #9356dc;
  }
  /***Section Restaurant***/
  #Restaurant h2 {
    font-family: "Roboto-Bold.ttf";
    margin-left: 3%;
    margin-top: 70px;
  }
  .cards {
    display: flex;
    flex-direction: column; /*positionnement des card et flex*/
  }

  .boxcard figure img {
    object-fit: cover; /*all img of Restaurant*/
    width: 101.5%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
  }

  .boxcard figure {
    background-color: white;
    background-color: rgb(252, 249, 252);
    cursor: pointer;
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 20px 20px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef;
    box-shadow: #c3c3c3 10px 10px 10px;
    width: 94%;
    height: 275px;
    margin-bottom: 0px;
  } /* all figure of Restaurant*/
  figure {
    margin-left: 8%; /*position of restaurant cards*/
  }

  figcaption :nth-child(1) {
    font-family: "Roboto-Bold.ttf";
    font-size: 1.3rem;
    color: black;
    margin-top: 3%;
    margin-left: 2%;
  } /* figcaption of Restaurant*/

  figcaption :nth-child(2) {
    font-family: "roboto", sans-serif;
    font-size: 1.3rem;
    color: rgb(53, 53, 53);
    position: relative; /*figcaption of Restaurant*/
    bottom: 15px;
    left: 2%;
  }

  .boxcard {
    position: relative;
    right: 8%;
    bottom: 15px;
    text-decoration: none;
    color: black; /*tout les a de fonctionnement*/
    cursor: pointer;
  } /*Move all figure of Restaurant*/

  .boxcard:hover {
    transform: scale(1.05); /*effect of hover of Restaurant card*/
  }

  .heart {
    position: relative; /*icon Heart*/
    font-size: 1.7rem;
    color: rgb(53, 53, 53);
    margin-right: 6%;
    bottom: 40px;
  }

  .heart .fa-heart {
    color: #fff;
    border-radius: 50%;
    padding: 0.2em;
  }
  .heart .fa-heart::before {
    content: "\f004";
    transition: color 1s ease-out;
  }
  .heart .fa-heart:hover::before {
    color: violet;
    cursor: pointer;
    font-weight: bold;
    transition: color 1.2s ease-out;
  }

  .nouveau {
    font-family: "Roboto-Bold.ttf";
    color: #1f997c;
    background-color: #99e2d0;
    /*Vignete nouveau sur les cards*/
    padding: 6px 15px;
    position: absolute;
    right: 0.2px;
    bottom: 225px;
    border: transparent;
    font-size: 1rem;
  }
  /***Footer***/

  footer {
    height: 220px;
    padding-top: 2%;
    margin-top: 60px;
  }

  .footerText {
    margin-left: 35px;
  }

  footer h3 {
    margin-left: 40px;
    font-size: 1.4rem;
    margin-bottom: 2%;
  }
  .footerText a {
    text-decoration: none; /*tout les paragraphe cliquable*/
    color: white;
  }

  footer a {
    /*enlever la décoration par défaut*/
    text-decoration: none;
  }

  .ustensils {
    /*icon ustensils de cuisine*/
    padding: 0 12px 0 5px;
  }

  .hands {
    /*icon main*/
    padding-right: 10px;
  }
}
