@media screen and (min-width: 311px) and (max-width: 323px) {
  #ReserveExplore h2 {
    font-size: 1.5rem;
    width: 95%;
    text-align: center; /*titre reservation*/
    margin-top: 10%;
    margin-left: 2%;
  }

  #ReserveExplore p {
    font-size: 1.3rem;
    width: 95%; /*paragraphe*/
    text-align: center;
    margin-left: 3%;
  }
  .fa-map-marker-alt {
    /*icon*/
    margin-left: 20%;
  }
  .BoutonExplore a {
    font-size: 1rem; /*all buton Explore lien*/
    text-align: center;
  }

  .BoutonExplore {
    text-align: center;
    position: relative;
    left: 47px;
    top: 30px;
    width: 60%;
  }

  .fa-mobile-alt:before,
  .fa-list:before,
  .fa-store:before {
    font-size: 1.3rem;
    position: relative;
    left: 50px;
  }

  .BoutonTitre  /*all tittle of foctionnement contour */ {
    width: 80%;
  }

  #Fonctionnement a {
    /*font des titre fonctiont*/
    font-size: 1rem;
  }

  .boxcard figure/* all figure of Restaurant*/ {
    width: 92%;
  }

  .boxcard figure img {
    width: 102.5%;
  }

  .fa-heart:before        /*icon Heart*/ {
    position: absolute;
    bottom: 35px;
    right: 2%;
    font-size: 1.7rem;
    color: rgb(53, 53, 53);
  }

  .nouveau {
    font-family: "Roboto-Bold.ttf";
    color: #1f997c;
    background-color: #99e2d0;
    /*Vignete nouveau sur les cards*/
    padding: 6px 15px;
    position: absolute;
    right: 0.2px;
    bottom: 228px;
    border: transparent;
    font-size: 1rem;
  }
}

@media screen and (min-width: 200px) and (max-width: 310px) {
  #ReserveExplore h2 {
    font-size: 1.5rem;
    width: 95%;
    text-align: center; /*titre reservation*/
    margin-top: 10%;
    margin-left: 2%;
  }

  #ReserveExplore p {
    font-size: 1.3rem;
    width: 95%; /*paragraphe*/
    text-align: center;
    margin-left: 3%;
  }
  .fa-map-marker-alt {
    /*icon*/
    margin-left: 20%;
  }
  .BoutonExplore a {
    font-size: 1.1rem;
    width: 400px; /*all buton Explore lien*/
    text-align: center;
  }

  .BoutonExplore {
    width: 70%;
    text-align: center;
    position: relative;
    top: 20px;
    left: 25px;
  }

  .fa-mobile-alt:before,
  .fa-list:before,
  .fa-store:before {
    font-size: 1.3rem;
    position: relative;
    left: 50px;
  }

  .BoutonTitre  /*all tittle of foctionnement contour */ {
    width: 80%;
  }

  #Fonctionnement a {
    /*font des titre fonctiont*/
    font-size: 1rem;
  }

  .boxcard figure/* all figure of Restaurant*/ {
    width: 92%;
  }

  .boxcard figure img {
    width: 102.5%;
  }

  .fa-heart:before        /*icon Heart*/ {
    position: absolute;
    bottom: 35px;
    right: 2%;
    font-size: 1.7rem;
    color: rgb(53, 53, 53);
  }

  .nouveau {
    font-family: "Roboto-Bold.ttf";
    color: #1f997c;
    background-color: #99e2d0;
    /*Vignete nouveau sur les cards*/
    padding: 6px 15px;
    position: absolute;
    right: 0.2px;
    bottom: 230px;
    border: transparent;
    font-size: 1rem;
  }
}
