@font-face {
  font-family: "Shrikhand-Regular.ttf";
  src: url("fontfamily/Shrikhand-Regular.ttf");
  src: url("fontfamily/Shrikhand-Regular.ttf?#iefix")
      format("fontfamily/Shrikhand-Regular.ttfembedded-opentype"),
    url("fontfamily/Shrikhand-Regular.ttf") format("woff"),
    url("fontfamily/Shrikhand-Regular.ttf") format("truetype"),
    url("fontfamily/Shrikhand-Regular.ttf") format("svg");
}
/*Les fonts*/
@font-face {
  font-family: "Roboto-Italic.ttf";
  src: url("fontfamily/Roboto-Italic.ttf");
  src: url("fontfamily/Roboto-Italic.ttf?#iefix")
      format("fontfamily/Roboto-Italic.ttfembedded-opentype"),
    url("fontfamily/Roboto-Italic.ttf") format("woff"),
    url("fontfamily/Roboto-Italic.ttf") format("truetype"),
    url("fontfamily/Roboto-Italic.ttf") format("svg");
}
@font-face {
  font-family: "Roboto-Bold.ttf";
  src: url("fontfamily/Roboto-Bold.ttf");
  src: url("fontfamily/Roboto-Bold.ttf")
      format("fontfamily/Roboto-Bold.ttfembedded-opentype"),
    url("fontfamily/Roboto-Bold.ttf") format("woff"),
    url("fontfamily/Roboto-Bold.ttf") format("truetype"),
    url("fontfamily/Roboto-Bold.ttf") format("svg");
}

body {
  margin: 0;
}

/**Header**/

#logo img {
  width: 55%;
}

#logo {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

<section id="Restaurant">
<h2>Restaurant</h2>
<!--Titre-->
<div id="cards">
    <a href="#" class="boxcard">
        <figure>
            <img src="images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg" alt="Plat de nouriture" />
            <figcaption>
                <p class="TitrePlat">La palette du gout</p>
                <!--Figure card of menu-->
                <p class="TitreVille">Ménilmontant</p>

                <div class="Ceour">
                    <i class="far fa-heart"></i>
                    <!--Icon-->
                </div>
            </figcaption>
        </figure>
    </a>
</div>
</section>