@font-face {
  font-family: "Shrikhand-Regular.ttf";
  src: url("fontfamily/Shrikhand-Regular.ttf");
  src: url("fontfamily/Shrikhand-Regular.ttf?#iefix")
      format("fontfamily/Shrikhand-Regular.ttfembedded-opentype"),
    url("fontfamily/Shrikhand-Regular.ttf") format("woff"),
    url("fontfamily/Shrikhand-Regular.ttf") format("truetype"),
    url("fontfamily/Shrikhand-Regular.ttf") format("svg");
}

@font-face {
  font-family: "Roboto-Italic.ttf";
  src: url("fontfamily/Roboto-Italic.ttf");
  src: url("fontfamily/Roboto-Italic.ttf?#iefix")
      format("fontfamily/Roboto-Italic.ttfembedded-opentype"),
    url("fontfamily/Roboto-Italic.ttf") format("woff"),
    url("fontfamily/Roboto-Italic.ttf") format("truetype"),
    url("fontfamily/Roboto-Italic.ttf") format("svg");
}
p {
  font-family: "Roboto-Italic.ttf";
}
