@font-face {
  font-family: "Shrikhand-Regular.ttf";
  src: url("fontfamily/Shrikhand-Regular.ttf");
  src: url("fontfamily/Shrikhand-Regular.ttf?#iefix")
      format("fontfamily/Shrikhand-Regular.ttfembedded-opentype"),
    url("fontfamily/Shrikhand-Regular.ttf") format("woff"),
    url("fontfamily/Shrikhand-Regular.ttf") format("truetype"),
    url("fontfamily/Shrikhand-Regular.ttf") format("svg");
}
/*Les fonts*/
@font-face {
  font-family: "Roboto-Italic.ttf";
  src: url("fontfamily/Roboto-Italic.ttf");
  src: url("fontfamily/Roboto-Italic.ttf?#iefix")
      format("fontfamily/Roboto-Italic.ttfembedded-opentype"),
    url("fontfamily/Roboto-Italic.ttf") format("woff"),
    url("fontfamily/Roboto-Italic.ttf") format("truetype"),
    url("fontfamily/Roboto-Italic.ttf") format("svg");
}
@font-face {
  font-family: "Roboto-Bold.ttf";
  src: url("fontfamily/Roboto-Bold.ttf");
  src: url("fontfamily/Roboto-Bold.ttf")
      format("fontfamily/Roboto-Bold.ttfembedded-opentype"),
    url("fontfamily/Roboto-Bold.ttf") format("woff"),
    url("fontfamily/Roboto-Bold.ttf") format("truetype"),
    url("fontfamily/Roboto-Bold.ttf") format("svg");
}
body {
  margin: 0 0 0 0;
}
/**Header**/
#logo img {
  width: 60%;
}

#logo {
  margin-top: 8%;
  margin-left: 27%;
}
/*Paris*/
#positionParis {
  box-shadow: 0px 3px 3px #73737338 inset;
  background-color: #eeecec;
  padding-top: 2px; /*background et div englobante de Paris et icon*/
  height: 55px;
  margin-top: 10px;
}
#positionParis p {
  font-family: "roboto,sans-serif.ttf";
  font-size: 18px;
  font-weight: bold; /*titre Paris*/
  color: rgb(56, 55, 55);
  display: flex;
  justify-content: center;
}

.fa-map-marker-alt {
  color: rgb(71, 71, 71);
  position: relative;
  bottom: 38px; /*modification et positionment icon localitation*/
  margin-left: 26%;
  font-size: 17px;
  display: flex;
  justify-content: center;
}
/***Section explore et reserve***/
#ReserveExplore {
  background-color: rgb(245, 245, 245);
  padding-top: 1%; /*background de la div*/
  padding-bottom: 20%;
  text-align: center;
  width: 100%;
}

#ReserveExplore h2 {
  font-size: 1.5rem;
  width: 95%;
  text-align: center;
  font-family: "roboto", sans-serif; /*titre reservation*/
  font-weight: bold;
  margin-top: 10%;
  margin-left: 2%;
}

#ReserveExplore p {
  display: inline;
  font-family: "roboto,sans-serif.ttf";
  color: rgb(88, 88, 88);
  font-size: 1.3rem;
  width: 95%; /*paragraphe*/
  text-align: center;
  margin-left: 3%;
}

.BoutonExplore {
  border-radius: 10px/20px;
  border-radius: 100px 100px 100px 97px;
  background-image: radial-gradient(
    ellipse farthest-corner at 20px 0,
    #ff79da 0%,
    #9356dc 100%
  ); /* le background du bouton recherche   */
  height: 20px;
  width: 60%;
  text-align: center;
  padding: 17px;
  position: absolute;
  right: 16%;
  margin-top: 20px;
}
.BoutonExplore a {
  font-size: 1.1rem;
  width: 400px;
  text-decoration: none; /*all buton Explore lien*/
  color: white;
  font-family: "Roboto-Bold.ttf";
  cursor: pointer;
  text-align: center;
}
/***Section Fonctionnement***/

#Fonctionnement {
  background-color: transparent; /*div englobante*/
}
#Fonctionnement a {
  text-decoration: none;
  color: black;
  font-family: "Roboto-Bold.ttf"; /*tout les a de fonctionnement*/
  cursor: pointer;
  font-size: 1.1rem;
  width: 400px;
}
#Fonctionnement h2 {
  font-family: "Roboto-Bold.ttf"; /*Titre Fonctionnement*/
  margin-top: 10%;
}
.BoutonNumero {
  border-radius: 50%;
  background-color: #9356dc;
  color: white; /*All Button Number*/
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  font-family: "Roboto-Bold.ttf";
  position: relative;
  top: 50px;
  width: 10px;
  display: flex;
  align-content: flex-start;
  cursor: pointer;
}

.BoutonTitre {
  border-radius: 30px 20px 20px 30px;
  box-shadow: #d1d1d1 5px 5px 5px; /*all tittle of foctionnement*/
  background-color: rgb(243, 243, 243);
  padding: 25px;
  text-align: center;
  width: 100%;
  margin-left: 4%;
  margin-bottom: 0;
}

.fa-mobile-alt:before,
.fa-list:before,
.fa-store:before {
  /*icon*/
  color: rgb(88, 88, 88);
  position: relative;
  bottom: 48px;
  left: 55px;
  font-size: 1.3rem;
}

.SurvolIcon:hover .fa-store:before,
.SurvolIcon:hover .fa-list:before,
.SurvolIcon:hover .fa-mobile-alt:before {
  /*icon au survol*/
  color: #9356dc;
}
/***Section Restaurant***/
#Restaurant h2 {
  font-family: "Roboto-Bold.ttf";
  margin-left: 3%;
  margin-top: 70px;
}
.cards {
  display: flex;
  flex-direction: column; /*positionnement des card et flex*/
}

.boxcard figure img {
  object-fit: cover; /*all img of Restaurant*/
  width: 101.5%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}

.boxcard figure {
  background-color: white;
  background-color: rgb(252, 249, 252);
  cursor: pointer;
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 20px 20px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef;
  box-shadow: #c3c3c3 10px 10px 10px;
  width: 94%;
  height: 275px;
  margin-bottom: 0px;
  text-overflow: hidden;
} /* all figure of Restaurant*/
figure {
  margin-left: 8%; /*position of restaurant cards*/
}

figcaption :nth-child(1) {
  font-family: "Roboto-Bold.ttf";
  font-size: 1.3rem;
  color: black;
  margin-top: 3%;
  margin-left: 2%;
} /* figcaption of Restaurant*/

figcaption :nth-child(2) {
  font-family: "roboto", sans-serif;
  font-size: 1.3rem;
  color: rgb(53, 53, 53);
  position: relative; /*figcaption of Restaurant*/
  bottom: 15px;
  left: 2%;
}

.boxcard {
  position: relative;
  right: 8%;
  bottom: 15px;
  text-decoration: none;
  color: black; /*tout les a de fonctionnement*/
  cursor: pointer;
} /*Move all figure of Restaurant*/

.boxcard:hover {
  transform: scale(1.05); /*effect of hover of Restaurant card*/
}

.fa-heart:before        /*icon Heart*/ {
  position: absolute;
  bottom: 35px;
  right: 2%;
  font-size: 1.7rem;
  color: rgb(53, 53, 53);
}

.nouveau {
  font-family: "Roboto-Bold.ttf";
  color: #1f997c;
  background-color: #99e2d0;
  /*Vignete nouveau sur les cards*/
  padding: 6px 15px;
  position: absolute;
  right: 0.2px;
  bottom: 225px;
  border: transparent;
  font-size: 1rem;
}
/***Footer***/
/***Footer***/
footer {
  background-color: rgb(51, 51, 51); /*background de footer*/
  padding-top: 2rem;
  width: 100%;
  height: 400px;
}
footer h3 {
  font-family: "Shrikhand-Regular.ttf";
  font-weight: lighter;
  margin-top: 5%;
  margin-left: 6%;
  color: rgba(235, 235, 235, 0.897);
}

.footerText a {
  text-decoration: none; /*tout les paragraphe cliquable*/
  color: white;
}

.footerText {
  margin-left: 2%;
  color: white;
  line-height: 200%;
  font-size: 18px;
}

.footerBlock {
  display: flex;
}

.ustensils {
  padding: 0 25px 0 5px;
}

.hands {
  padding-right: 20px;
}
