@media screen and (min-width: 311px) and (max-width: 323px) {
  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -5;
    }
  }

  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -5;
    }
  }
  .loader {
    animation: loader 1s;
    animation: loader 1s;
    animation-delay: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-fill-mode: both;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
  }

  h1 {
    font-size: 0.8em;
    font-family: "Shrikhand-Regular.ttf";
    font-weight: lighter;
    margin-bottom: 10px;
  }

  #loading {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 6px solid rgba(192, 34, 245, 0.3);
    border-radius: 50%;
    border-top-color: rgb(82, 4, 56);
    animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    position: fixed;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  #ReserveExplore h2 {
    font-size: 1.5rem;
    width: 95%;
    text-align: center; /*titre reservation*/
    margin-top: 10%;
    margin-left: 2%;
  }

  #ReserveExplore p {
    font-size: 1.3rem;
    width: 95%; /*paragraphe*/
    text-align: center;
    margin-left: 3%;
  }
  .fa-map-marker-alt {
    /*icon*/
    margin-left: 20%;
  }
  .BoutonExplore a {
    font-size: 1rem; /*all buton Explore lien*/
    text-align: center;
  }

  .BoutonExplore {
    text-align: center;
    position: relative;
    left: 47px;
    top: 30px;
    width: 60%;
  }

  .BoutonExplore:hover {
    background: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #b195d4 100%
    );
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  }
  .fa-mobile-alt:before,
  .fa-list:before,
  .fa-store:before {
    font-size: 1.3rem;
    position: relative;
    left: 50px;
  }

  .BoutonTitre  /*all tittle of foctionnement contour */ {
    width: 80%;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }

  .BoutonTitre:hover {
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
    background-color: #e3adf7;
  }

  #Fonctionnement a {
    /*font des titre fonctiont*/
    font-size: 1rem;
  }

  #Fonctionnement h2 {
    margin-left: 1rem;
  }

  .BoutonNumero {
    z-index: 1;
  }
  .boxcard figure/* all figure of Restaurant*/ {
    width: 92%;
  }

  .boxcard figure img {
    width: 102.5%;
  }

  .heart {
    position: relative; /*icon Heart*/
    font-size: 1.7rem;
    color: rgb(53, 53, 53);
    margin-right: 9%;
    bottom: 40px;
  }

  .heart .fa-heart::before {
    content: "\f004";
  }

  .heart2 .fa-heart::before {
    background: linear-gradient(#9c47fc, #ff79da);
    background-clip: text;
    color: transparent;
    cursor: pointer;
    font-weight: bold;
    transition: color 1.2s ease-out;
    opacity: 0;
    font-size: 1.9rem;
  }

  .heart2 .fa-heart:active::before {
    animation: 3s essai forwards;
    animation-duration: 4000ms;
  }
  .corazon:active .heart .fa-heart::before {
    animation: 4s cora forwards;
  }

  .corazon {
    position: relative;
    top: 15px;
    left: 5%;
  }
  @keyframes essai {
    100% {
      opacity: 1;
    }
  }

  @keyframes cora {
    100% {
      opacity: 0;
    }
  }

  .heart2 {
    position: relative;
    bottom: 56px;
    margin-right: 8%;
  }

  .heart .fa-heart {
    color: #fff;
    border-radius: 50%;
    padding: 0.2em;
  }

  .nouveau {
    font-family: "Roboto-Bold.ttf";
    color: #1f997c;
    background-color: #99e2d0;
    /*Vignete nouveau sur les cards*/
    padding: 6px 15px;
    position: absolute;
    right: 0.2px;
    bottom: 275px;
    border: transparent;
    font-size: 1rem;
  }

  footer {
    height: 220px;
    padding-top: 2%;
    margin-top: 50px;
  }
  footer a {
    text-decoration: none;
  }
  .footerText {
    margin-left: 35px;
  }

  footer h3 {
    margin-left: 40px;
    font-size: 1.4rem;
    margin-bottom: 2%;
  }
  a h3 {
    text-decoration: none;
  }
  .ustensils {
    padding: 0 11px 0 5px;
  }

  .hands {
    padding-right: 10px;
  }
}

@media screen and (min-width: 200px) and (max-width: 310px) {
  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -5;
    }
  }

  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -5;
    }
  }
  .loader {
    animation: loader 1s;
    animation: loader 1s;
    animation-delay: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-fill-mode: both;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
  }

  h1 {
    font-size: 0.8em;
    font-family: "Shrikhand-Regular.ttf";
    font-weight: lighter;
    margin-bottom: 10px;
  }

  #loading {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 6px solid rgba(192, 34, 245, 0.3);
    border-radius: 50%;
    border-top-color: rgb(82, 4, 56);
    animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    position: fixed;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  #ReserveExplore h2 {
    font-size: 1.5rem;
    width: 95%;
    text-align: center; /*titre reservation*/
    margin-top: 10%;
    margin-left: 2%;
  }

  #ReserveExplore p {
    font-size: 1.3rem;
    width: 95%; /*paragraphe*/
    text-align: center;
    margin-left: 3%;
  }
  .fa-map-marker-alt {
    /*icon*/
    margin-left: 20%;
  }
  .BoutonExplore a {
    font-size: 1.1rem;
    width: 400px; /*all buton Explore lien*/
    text-align: center;
  }

  .BoutonExplore {
    width: 70%;
    text-align: center;
    position: relative;
    top: 20px;
    left: 25px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }

  .BoutonExplore:hover {
    transform: scale(1.15);
    background: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #b195d4 100%
    );
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  }

  .fa-mobile-alt:before,
  .fa-list:before,
  .fa-store:before {
    font-size: 1.3rem;
    position: relative;
    left: 50px;
  }

  .BoutonTitre  /*all tittle of foctionnement contour */ {
    width: 80%;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }

  .BoutonTitre:hover {
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
    background-color: #c9aeeb;
  }

  .BoutonNumero {
    z-index: 1;
  }

  #Fonctionnement a {
    /*font des titre fonctiont*/
    font-size: 1rem;
  }

  .boxcard figure/* all figure of Restaurant*/ {
    width: 92%;
  }

  .boxcard figure img {
    width: 102.5%;
  }

  .heart {
    position: relative; /*icon Heart*/
    font-size: 1.7rem;
    color: rgb(53, 53, 53);
    margin-right: 9%;
    bottom: 40px;
  }

  .heart .fa-heart::before {
    content: "\f004";
  }

  .heart2 .fa-heart::before {
    background: -webkit-linear-gradient(#9c47fc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-weight: bold;
    transition: color 1.2s ease-out;
    opacity: 0;
    font-size: 1.9rem;
  }

  .heart2 .fa-heart:active::before {
    animation: 3s essai forwards;
    animation-duration: 2100ms;
  }
  .corazon:active .heart .fa-heart::before {
    animation: 3s cora forwards;
  }
  @keyframes essai {
    100% {
      opacity: 1;
    }
  }

  @keyframes cora {
    100% {
      opacity: 0;
    }
  }

  .heart2 {
    position: relative;
    bottom: 58px;
    margin-right: 8%;
  }

  .heart .fa-heart {
    color: #fff;
    border-radius: 50%;
    padding: 0.2em;
  }

  .nouveau {
    font-family: "Roboto-Bold.ttf";
    color: #1f997c;
    background-color: #99e2d0;
    /*Vignete nouveau sur les cards*/
    padding: 6px 15px;
    position: absolute;
    right: 0.2px;
    bottom: 230px;
    border: transparent;
    font-size: 1rem;
  }
  /***Footer***/
  footer {
    height: 210px;
    padding-top: 2%;
    margin-top: 50px;
  }

  .footerText {
    margin-left: 8%;
  }

  footer h3 {
    margin-left: 40px;
    font-size: 1.4rem;
    margin-bottom: 2%;
  }

  footer a {
    text-decoration: none;
  }

  .ustensils {
    /*icon ustensils de cuisine*/
    padding: 0 13px 0 5px;
  }

  .hands {
    /*icon mains*/
    padding-right: 12px;
  }
}
