@media screen and (min-width: 1203px) and (max-width: 1900px) {
  @font-face {
    font-family: "Shrikhand-Regular.ttf";
    src: url("fontfamily/Shrikhand-Regular.ttf");
    src: url("fontfamily/Shrikhand-Regular.ttf?#iefix")
        format("fontfamily/Shrikhand-Regular.ttfembedded-opentype"),
      url("fontfamily/Shrikhand-Regular.ttf") format("woff"),
      url("fontfamily/Shrikhand-Regular.ttf") format("truetype"),
      url("fontfamily/Shrikhand-Regular.ttf") format("svg");
  }

  @font-face {
    font-family: "Roboto-Bold.ttf";
    src: url("fontfamily/Roboto-Bold.ttf");
    src: url("fontfamily/Roboto-Bold.ttf")
        format("fontfamily/Roboto-Bold.ttfembedded-opentype"),
      url("fontfamily/Roboto-Bold.ttf") format("woff"),
      url("fontfamily/Roboto-Bold.ttf") format("truetype"),
      url("fontfamily/Roboto-Bold.ttf") format("svg");
  }

  body {
    margin: 0px;
  }
  /**Header**/
  #logo img {
    width: 40%; /*img logo */
  }

  #logo {
    position: relative; /*position du logo*/
    left: 28%;
    top: 5px;
  }

  .fa-arrow-left:before  /*icon Fléche*/ {
    color: rgb(31, 30, 30);
  }

  .FlecheIcon  /*move Icon arrow*/ {
    position: relative;
    bottom: 55px;
    left: 7%;
    font-size: 2rem;
  }

  #photoBackground img {
    /*dimension image */
    width: 100%;
    height: 80%;
  }

  /***Section À la française***/

  h2 {
    font-family: "shrikhand", sans-serif; /*titre Le délice des sens */
    margin-left: 5%;
    z-index: 1;
    display: flex;
    position: relative;
    bottom: 1.3rem;
    right: 2rem;
    font-size: 2rem;
  }
  .fa-heart:before {
    font-size: 1.8rem;
    color: rgb(36, 36, 36);
    position: absolute; /*Icon heart*/
    top: 40px;
    right: 4.8%;
  }

  #blockMenu {
    background-color: rgba(238, 238, 238, 0.993);
    border-radius: 50px 50px 0px 0px;
    padding-top: 20px;
    height: 1120px; /*id qui englobe toute la section plat */
    width: 100%;
    position: relative;
    bottom: 138px;
    display: flex;
    height: 500px;
  }
  /*Cards*/
  .entre {
    position: relative;
    top: 90px; /*class englobante pour bouger les cards*/
    right: 18.5%;
    margin-left: 17%;
    margin-bottom: 40px;
    margin-bottom: 20px;
    width: 200%;
  }

  .entre a {
    text-decoration: none;
    color: black; /*les lien de touts les plats*/
    font-family: "roboto", sans-serif;
  }

  .entre h3 {
    font-size: 1rem;
    font-family: "roboto", sans-serif; /*titre entré*/
    color: #0f0f0f;
    font-weight: 200;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    position: relative;
    left: 95%;
  }
  h3:hover {
    border-bottom: solid 3px #99e2d0;
    width: 20%;
    padding-bottom: 5px; /*les titre de section au survol*/
  }
  .backgroundCards :first-child {
    font-weight: bold; /*Titre 1 de cards */
  }
  .backgroundCards {
    position: relative;
    right: 5%; /*position et class englobante des cards*/
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(243, 243, 243);
    box-shadow: #ddddddee 8px 8px 8px 8px;
    padding: 20px;
    height: 55px;
    width: 175%;
    margin-left: 20%;
    margin-bottom: 5%;
  }
  .backgroundCards :last-child {
    font-weight: bold; /*les prix*/
    color: rgb(68, 68, 68);
    position: relative;
    bottom: 24px;
    left: 83%;
    z-index: 1;
    font-size: 1.1rem;
  }

  .backgroundCards p {
    /*espace entre les p*/
    margin: 8px;
  }

  .tailleP {
    font-size: 0.9rem; /*taille des p qui depasser le prix*/
  }

  /***Section Commander****/

  .BoutonExplore a {
    font-size: 1.3rem;
    width: 400px;
    text-decoration: none;
    color: white;
    font-family: "Roboto-Bold.ttf";
    cursor: pointer;
  }

  .BoutonExplore {
    border-radius: 10px/20px;
    border-radius: 100px 100px 100px 97px;
    background-image: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #9356dc 100%
    ); /* le background du bouton recherche   */
    height: 20px;
    width: 30%;
    text-align: center;
    padding: 25px;
    margin-left: 34%;
    margin-bottom: 5%;
  }

  /***Footer***/
  footer {
    background-color: rgb(51, 51, 51); /*background de footer*/
    padding-top: 8px;
    padding-bottom: 47px;
    margin-top: 100px;
    margin-bottom: 0;
    height: 220px;
    width: 100%;
    position: absolute;
  }
  footer h3 {
    font-family: "Shrikhand-Regular.ttf";
    font-weight: lighter;
    margin-top: 2%;
    margin-left: 2%;
    color: rgba(235, 235, 235, 0.897);
    font-size: 2rem;
    margin-bottom: 1%;
  }

  .footerText a {
    text-decoration: none; /*tout les paragraphe cliquable*/
    color: white;
  }

  .footer a,
  footer a :hover {
    text-decoration: none;
    border: transparent;
  }
  .footerText {
    margin-left: 2%;
    color: white;
    line-height: 200%;
    font-size: 18px;
  }

  .footerBlock {
    display: flex;
  }

  .ustensils {
    padding: 0 25px 0 5px;
  }

  .hands {
    padding-right: 20px;
  }
}
