@media screen and (min-width: 1203px) and (max-width: 3000px) {
  @font-face {
    font-family: "Shrikhand-Regular.ttf";
    src: url("fontfamily/Shrikhand-Regular.ttf");
    src: url("fontfamily/Shrikhand-Regular.ttf?#iefix")
        format("fontfamily/Shrikhand-Regular.ttfembedded-opentype"),
      url("fontfamily/Shrikhand-Regular.ttf") format("woff"),
      url("fontfamily/Shrikhand-Regular.ttf") format("truetype"),
      url("fontfamily/Shrikhand-Regular.ttf") format("svg");
  }

  @font-face {
    font-family: "Roboto-Bold.ttf";
    src: url("fontfamily/Roboto-Bold.ttf");
    src: url("fontfamily/Roboto-Bold.ttf")
        format("fontfamily/Roboto-Bold.ttfembedded-opentype"),
      url("fontfamily/Roboto-Bold.ttf") format("woff"),
      url("fontfamily/Roboto-Bold.ttf") format("truetype"),
      url("fontfamily/Roboto-Bold.ttf") format("svg");
  }

  body {
    margin: 0px;
  }

  /**Header**/
  #logo img {
    width: 40%; /*img logo */
  }

  #logo {
    position: relative; /*position du logo*/
    left: 28%;
    top: 20px;
  }

  .fa-arrow-left:before  /*icon Fléche*/ {
    color: rgb(31, 30, 30);
  }

  .FlecheIcon  /*move Icon arrow*/ {
    position: relative;
    bottom: 55px;
    left: 7%;
    font-size: 2rem;
  }

  #photoBackground img {
    /*dimension image */
    width: 100%;
    max-height: 450px;
    object-fit: cover;
  }

  /***Section À la française***/

  h2 {
    font-family: "shrikhand", sans-serif; /*titre Le délice des sens */
    margin-left: 5%;
    z-index: 1;
    display: flex;
    position: relative;
    bottom: 6.5rem;
    right: 2rem;
    font-size: 2rem;
  }
  .heart {
    position: absolute; /*icon Heart*/
    top: 0px;
    left: 0px;
    font-size: 1.7rem;
    color: rgb(53, 53, 53);
    opacity: 1;
  }

  .heart .fa-heart::before {
    content: "\f004";
  }

  .heart2 .fa-heart::before {
    background: -webkit-linear-gradient(#9c47fc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-weight: bold;
    transition: color 1.2s ease-out;
    opacity: 0;
    font-size: 2rem;
  }

  .heart2 .fa-heart:hover::before {
    animation: 3s essai forwards;
    animation-duration: 7s;
  }
  .corazon:hover .heart .fa-heart::before {
    animation: 4s cora forwards;
  }
  @keyframes essai {
    100% {
      opacity: 1;
    }
  }

  @keyframes cora {
    100% {
      opacity: 0;
    }
  }

  .heart2 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2000;
    font-size: 2rem;
  }
  .corazon {
    position: absolute;
    z-index: 100;
    height: 50px;
    width: 50px;
    right: 30px;
    top: 30px;
  }

  .heart .fa-heart {
    border-radius: 50%;
    font-size: 2rem;
    color: rgb(53, 53, 53);
  }
  section#blockMenu {
    background-color: rgba(245, 245, 245, 0.993);
    border-radius: 50px 50px 0px 0px;
    padding-top: 20px;
    height: 350px; /*id qui englobe toute la section plat */
    width: 100%;
    position: relative;
    bottom: 200px;
    display: flex;
  }
  /*Cards*/
  div.entre {
    /*class englobante pour bouger les cards*/
    position: relative;
    top: 50px;
    margin-left: 18%;
    margin-bottom: 40px;
    margin-bottom: 20px;
    width: 16%;
    margin-right: 0%;
    right: 16.9%;
  }

  .entre a {
    text-decoration: none;
    color: black; /*les lien de touts les plats*/
    font-family: "roboto", sans-serif;
  }

  .entre h3 {
    font-size: 1rem;
    font-family: "roboto", sans-serif; /*titre entré*/
    color: #0f0f0f;
    font-weight: 200;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    position: relative;
    left: 78%;
  }
  h3:hover {
    border-bottom: solid 3px #99e2d0;
    width: 20%;
    padding-bottom: 5px; /*les titre de section au survol*/
  }
  .delay {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s; /*animation apparition progressive*/
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 80ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .delay2 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s; /*animation apparition progressive*/
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 500ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .delay3 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s; /*animation apparition progressive*/
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 800ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .delay4 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s; /*animation apparition progressive*/
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 1000ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .delay5 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s; /*animation apparition progressive*/
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 1200ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .delay6 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s; /*animation apparition progressive*/
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 1400ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .delay7 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s; /*animation apparition progressive*/
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 1800ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .delay8 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s; /*animation apparition progressive*/
    animation: fadeIn ease 2s;
    animation-delay: 2000ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .delay9 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s; /*animation apparition progressive*/
    animation: fadeIn ease 2s;
    animation-delay: 2200ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0; /*key frame pour l'apparition progressive*/
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      /*key frame pour l'apparition progressive*/
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    /*key frame pour l'apparition progressive*/
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    /*key frame pour l'apparition progressive*/
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    /*key frame pour l'apparition progressive*/
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .card {
    height: 100px;
    width: 180%; /*contour des cards menu */
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: #ddddddee 8px 8px 8px 8px;
    animation-name: fadeInOpacity;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-duration: 2s;
  }

  .container {
    /*div qui contient l'interieure des cards prix titre*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    animation-name: fadeInOpacity;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-duration: 2s;
  }

  .container div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .plat {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .prix {
    display: flex;
    display: flex;
    align-items: flex-end;
    height: 52px;
    padding: 0 20px 0 5px;
    margin-left: auto;
    font-weight: 600;
  }

  .check {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #99e2d0;
    min-width: 0px;
    overflow: hidden;
    transform-origin: right;
    border-radius: 0 20px 20px 0;
    transition: 400ms linear;
  }

  .card:hover .check {
    min-width: 100px;
  }

  .card:hover .icone {
    transition: 400ms ease-in-out;
    transform: rotate(1turn);
  }

  .icone {
    position: absolute;
    font-size: 2rem;
    color: white;
  }
  /***Section Commander****/

  .BoutonExplore a {
    font-size: 1.3rem; /*police taille du titre dans le bouton*/
    width: 400px;
    text-decoration: none;
    color: white;
    font-family: "Roboto-Bold.ttf";
    cursor: pointer;
  }

  .BoutonExplore {
    border-radius: 10px/20px;
    border-radius: 100px 100px 100px 97px;
    background-image: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #9356dc 100%
    ); /* le background du bouton recherche   */
    height: 20px;
    width: 30%;
    text-align: center;
    padding: 25px;
    margin-left: 34%;
    margin-bottom: 2.2%;
  }

  .BoutonExplore:hover {
    background: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #b195d4 100%
    );
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  }

  /***Footer***/
  footer {
    background-color: rgb(51, 51, 51); /*background de footer*/
    padding-top: 8px;
    padding-bottom: 0px;
    margin-top: 50px;
    margin-bottom: 0;
    height: 210px;
    width: 100%;
    position: absolute;
  }
  footer h3 {
    font-family: "Shrikhand-Regular.ttf";
    font-weight: lighter;
    padding-left: 6%;
    color: rgba(235, 235, 235, 0.897);
    font-size: 1.4rem;
    margin-bottom: 1%;
  }

  .footerText a {
    text-decoration: none; /*tout les paragraphe cliquable*/
    color: white;
  }

  .footer a,
  footer a :hover {
    text-decoration: none;
    border: transparent;
  }
  .footerText {
    margin-left: 6%;
    margin-top: 1%;
    color: white;
    line-height: 150%;
    font-size: 18px;
  }

  .footerBlock {
    display: flex;
  }

  .ustensils {
    padding: 0 11px 0 5px;
  }

  .hands {
    padding-right: 10px;
  }
}
