@media screen and (min-width: 810px) and (max-width: 1202px) {
  @font-face {
    font-family: "Shrikhand-Regular.ttf";
    src: url("fontfamily/Shrikhand-Regular.ttf");
    src: url("fontfamily/Shrikhand-Regular.ttf?#iefix")
        format("fontfamily/Shrikhand-Regular.ttfembedded-opentype"),
      url("fontfamily/Shrikhand-Regular.ttf") format("woff"),
      url("fontfamily/Shrikhand-Regular.ttf") format("truetype"),
      url("fontfamily/Shrikhand-Regular.ttf") format("svg");
  }

  @font-face {
    font-family: "Roboto-Bold.ttf";
    src: url("fontfamily/Roboto-Bold.ttf");
    src: url("fontfamily/Roboto-Bold.ttf")
        format("fontfamily/Roboto-Bold.ttfembedded-opentype"),
      url("fontfamily/Roboto-Bold.ttf") format("woff"),
      url("fontfamily/Roboto-Bold.ttf") format("truetype"),
      url("fontfamily/Roboto-Bold.ttf") format("svg");
  }

  body {
    margin: 0px;
    width: 100%;
  }
  /**Header**/
  #logo img {
    width: 40%; /*img logo */
    position: relative;
    top: 14px;
  }

  #logo {
    position: relative; /*position du logo*/
    left: 28%;
  }

  .fa-arrow-left:before  /*icon Fléche*/ {
    color: rgb(31, 30, 30);
    font-size: 2rem;
  }

  .FlecheIcon  /*move Icon arrow*/ {
    position: relative;
    bottom: 30px;
    right: 1%;
    left: 10%;
  }

  #photoBackground img {
    /*dimension image */
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }

  /***Section À la française***/

  h2 {
    font-family: "shrikhand", sans-serif; /*titre Le délice des sens */
    margin-left: 20px;
    z-index: 1;
    display: flex;
    position: relative;
    bottom: 1.5rem;
  }

  #blockMenu {
    background-color: rgba(238, 238, 238, 0.993);
    border-radius: 40px 40px 0px 0px;
    padding-top: 20px;
    height: 1120px; /*id qui englobe toute la section plat */
    width: 100%;
    position: relative;
    bottom: 105px;
  }

  .heart .fa-heart {
    border-radius: 50%;

    color: rgb(53, 53, 53);
  }
  /*Cards*/
  .entre {
    position: relative;
    top: 25px; /*class englobante pour bouger les cards*/
    right: 0.1%;
    margin-bottom: 40px;
    justify-content: space-between;
  }
  .corazon {
    position: absolute;
    right: -15px;
  }

  .entre a {
    text-decoration: none;
    color: black; /*les lien de touts les plats*/
    font-family: "roboto", sans-serif;
  }

  .entre h3 {
    font-size: 1rem;
    font-family: "roboto", sans-serif; /*titre entré*/
    color: #0f0f0f;
    font-weight: 200;
    margin-bottom: 30px;
    margin-top: 45px;
    margin-left: 20px;
  }
  h3:hover {
    border-bottom: solid 3px #99e2d0;
    width: 8%;
    padding-bottom: 5px; /*les titre de section au survol*/
  }

  .delay {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 80ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  .delay2 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 500ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .delay3 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 800ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .delay4 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 1000ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .delay5 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 1200ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .delay6 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 1400ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .delay7 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 1800ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .delay8 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 2000ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .delay9 {
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation: fadeIn ease 2s;
    animation-delay: 2200ms;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .card {
    height: 100px;
    width: 180%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: #ddddddee 8px 8px 8px 8px;
    animation-name: fadeInOpacity;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-duration: 2s;
  }

  .container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    animation-name: fadeInOpacity;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-duration: 2s;
  }

  .container div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .plat {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .prix {
    display: flex;
    display: flex;
    align-items: flex-end;
    height: 52px;
    padding: 0 20px 0 5px;
    margin-left: auto;
    font-weight: 600;
  }

  .check {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #99e2d0;
    min-width: 0px;
    overflow: hidden;
    transform-origin: right;
    border-radius: 0 20px 20px 0;
    transition: 400ms linear;
  }

  .card:hover .check {
    min-width: 100px;
  }

  .card:hover .icone {
    transition: 400ms ease-in-out;
    transform: rotate(1turn);
  }

  .icone {
    position: absolute;
    font-size: 2rem;
    color: white;
  }
  /***Section Commander****/

  .BoutonExplore a {
    font-size: 1.1rem;
    width: 400px;
    text-decoration: none;
    color: white;
    font-family: "Roboto-Bold.ttf";
    cursor: pointer;
  }

  .BoutonExplore {
    border-radius: 10px/20px;
    border-radius: 100px 100px 100px 97px;
    background-image: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #9356dc 100%
    ); /* le background du bouton recherche   */
    height: 24px;
    width: 45%;
    text-align: center;
    padding: 17px;
    margin-left: 25%;
    margin-top: 40px;
    transition-duration: 400ms;
  }

  .BoutonExplore:hover {
    background: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #b195d4 100%
    );
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  }
}

/***Footer***/
footer {
  background-color: rgb(51, 51, 51); /*background de footer*/
  padding-top: 8px;
  padding-bottom: 0px;
  margin-top: 50px;
  margin-bottom: 0;
  height: 210px;
  width: 100%;
  position: absolute;
}
footer h3 {
  font-family: "Shrikhand-Regular.ttf";
  font-weight: lighter;
  margin-left: 0%;
  color: rgba(235, 235, 235, 0.897);
  font-size: 1.4rem;
  margin-bottom: 1%;
}

.footerText a {
  text-decoration: none; /*tout les paragraphe cliquable*/
  color: white;
}

.footer a,
footer a :hover {
  text-decoration: none;
  border: transparent;
}
.footerText {
  margin-left: 6%;
  color: white;
  line-height: 150%;
  font-size: 18px;
}
a {
  text-decoration: none;
}
.footerBlock {
  display: flex;
}

.ustensils {
  padding: 0 15px 0 5px;
}

.hands {
  padding-right: 15px;
}
