@media screen and (min-width: 811px) and (max-width: 1202px) {
  @font-face {
    font-family: "Shrikhand-Regular.ttf";
    src: url("fontfamily/Shrikhand-Regular.ttf");
    src: url("fontfamily/Shrikhand-Regular.ttf?#iefix")
        format("fontfamily/Shrikhand-Regular.ttfembedded-opentype"),
      url("fontfamily/Shrikhand-Regular.ttf") format("woff"),
      url("fontfamily/Shrikhand-Regular.ttf") format("truetype"),
      url("fontfamily/Shrikhand-Regular.ttf") format("svg");
  }

  @font-face {
    font-family: "Roboto-Bold.ttf";
    src: url("fontfamily/Roboto-Bold.ttf");
    src: url("fontfamily/Roboto-Bold.ttf")
        format("fontfamily/Roboto-Bold.ttfembedded-opentype"),
      url("fontfamily/Roboto-Bold.ttf") format("woff"),
      url("fontfamily/Roboto-Bold.ttf") format("truetype"),
      url("fontfamily/Roboto-Bold.ttf") format("svg");
  }

  body {
    margin: 0px;
    width: 100%;
  }
  /**Header**/
  #logo img {
    width: 40%; /*img logo */
    position: relative;
    top: 14px;
  }

  #logo {
    position: relative; /*position du logo*/
    left: 28%;
  }

  .fa-arrow-left:before  /*icon Fléche*/ {
    color: rgb(31, 30, 30);
    font-size: 2rem;
  }

  .FlecheIcon  /*move Icon arrow*/ {
    position: relative;
    bottom: 1040px;
    left: 7%;
  }

  #photoBackground img {
    /*dimension image */
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  /***Section À la française***/

  h2 {
    font-family: "shrikhand", sans-serif; /*titre Le délice des sens */
    margin-left: 5%;
    z-index: 1;
    display: flex;
    position: relative;
    bottom: 1.5rem;
  }

  .fa-heart:before {
    color: rgb(36, 36, 36);
    position: absolute; /*Icon heart*/
    top: 33px;
    left: 89.8%;
    font-size: 3rem;
  }

  #blockMenu {
    background-color: rgba(238, 238, 238, 0.993);
    border-radius: 40px 40px 0px 0px;
    padding-top: 20px;
    height: 1120px; /*id qui englobe toute la section plat */
    width: 100%;
    position: relative;
    bottom: 105px;
    padding-bottom: 88px;
  }
  /*Cards*/
  .entre {
    position: relative;
    top: 25px; /*class englobante pour bouger les cards*/
    margin-left: 5%;
    margin-bottom: 40px;
    justify-content: space-between;
  }

  .entre a {
    text-decoration: none;
    color: black; /*les lien de touts les plats*/
    font-family: "roboto", sans-serif;
  }

  .entre h3 {
    font-size: 1rem;
    font-family: "roboto", sans-serif; /*titre entré*/
    color: #0f0f0f;
    font-weight: 200;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  h3:hover {
    border-bottom: solid 3px #99e2d0;
    width: 8%;
    padding-bottom: 5px; /*les titre de section au survol*/
  }
  .backgroundCards :first-child {
    font-weight: bold; /*Titre 1 de cards */
  }
  .backgroundCards {
    position: relative;
    right: 5%; /*position et class englobante des cards*/
    border-radius: 15px 15px 15px 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: #ddddddee 8px 8px 8px 8px;
    padding: 10px;
    height: 55px;
    width: 100ù;
    margin-left: 2%;
    margin-bottom: 20px;
  }
  .backgroundCards :last-child {
    font-weight: bold; /*les prix*/
    color: rgb(68, 68, 68);
  }

  .backgroundCards p {
    /*espace entre les p*/
    margin: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .numero {
    display: flex;
    align-items: center; /*position des prix*/
    justify-content: flex-end;
    position: relative;
    bottom: 27px;
    right: 15px;
    z-index: 1;
  }
  .tailleP {
    font-size: 0.9rem; /*taille des p qui depasser le prix*/
  }

  /***Section Commander****/

  .BoutonExplore a {
    font-size: 1.1rem;
    width: 400px;
    text-decoration: none;
    color: white;
    font-family: "Roboto-Bold.ttf";
    cursor: pointer;
  }

  .BoutonExplore {
    border-radius: 10px/20px;
    border-radius: 100px 100px 100px 97px;
    background-image: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #9356dc 100%
    ); /* le background du bouton recherche   */
    height: 24px;
    width: 45%;
    text-align: center;
    padding: 17px;
    margin-left: 25%;
    position: relative;
    bottom: 2rem;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }

  .BoutonExplore:hover {
    transform: scale(1.15);
    background: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #b195d4 100%
    );
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
  }

  /***Footer***/
  footer {
    background-color: rgb(51, 51, 51); /*background de footer*/
    padding-top: 8px;
    padding-bottom: 0px;
    margin-top: 50px;
    margin-bottom: 0;
    height: 210px;
    width: 100%;
    position: absolute;
  }
  footer h3 {
    font-family: "Shrikhand-Regular.ttf";
    font-weight: lighter;
    margin-left: 3.5%;
    color: rgba(235, 235, 235, 0.897);
    font-size: 1.4rem;
    margin-bottom: 1%;
  }

  .footerText a {
    text-decoration: none; /*tout les paragraphe cliquable*/
    color: white;
  }

  .footer a,
  footer a :hover {
    text-decoration: none;
    border: transparent;
  }
  .footerText {
    margin-left: 3%;
    margin-top: 1%;
    color: white;
    line-height: 150%;
    font-size: 18px;
  }

  .footerBlock {
    display: flex;
  }

  .ustensils {
    padding: 0 15px 0 5px;
  }

  .hands {
    padding-right: 15px;
  }
}

@media screen and (min-width: 50px) and (max-width: 356px) {
  body {
    margin: 0px;
  }
  /**Header**/
  #logo img {
    width: 40%; /*img logo */
  }

  #logo {
    position: relative; /*position du logo*/
    left: 28%;
    top: 17px;
  }

  .fa-arrow-left:before  /*icon Fléche*/ {
    color: rgb(31, 30, 30);
    position: relative;
    left: 200px;
  }

  .FlecheIcon  /*move Icon arrow*/ {
    position: relative;
    bottom: 20px;
    left: 7%;
    font-size: 1.1rem;
  }

  #photoBackground {
    /*dimension image */
    width: 100%;
    height: 250px;
  }
  #photoBackground img {
    object-fit: cover;
    height: 300px;
  }

  /***Section À la française***/

  h2 {
    font-family: "shrikhand", sans-serif; /*titre Le délice des sens */
    margin-left: 5%;
    z-index: 1;
    display: flex;
    position: relative;
    bottom: 1.7rem;
    margin-top: 10px;
  }

  .heart .fa-heart:before {
    /*icon ceour*/
    color: rgb(36, 36, 36);
    font-size: 1.8rem;
    font-weight: normal;
  }
  .heart {
    /*icon Heart*/
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    bottom: 200px;
    right: 10px;
    z-index: 1;
  }
  .numero {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    bottom: 27px;
    right: 15px;
    z-index: 1;
  }
}
.heart .fa-heart {
  color: #fff;
  border-radius: 50%;
  padding: 0.2em;
}
.heart .fa-heart::before {
  content: "\f004";
  transition: color 1s ease-out;
}
.heart .fa-heart:active::before {
  color: violet;
  cursor: pointer;
  font-weight: bold;
  transition: color 1.2s ease-out;
}

#blockMenu {
  background-color: rgba(238, 238, 238, 0.993);
  border-radius: 40px 40px 0px 0px;
  padding-top: 20px;
  height: 1120px; /*id qui englobe toute la section plat */
  width: 100%;
  position: relative;
  bottom: 105px;
}
/*Cards*/
.entre {
  position: relative;
  top: 25px; /*class englobante pour bouger les cards*/
  margin-left: 5%;
  margin-bottom: 40px;
  justify-content: space-between;
}

.entre a {
  text-decoration: none;
  color: black; /*les lien de touts les plats*/
  font-family: "roboto", sans-serif;
}

.entre h3 {
  font-size: 1rem;
  font-family: "roboto", sans-serif; /*titre entré*/
  color: #0f0f0f;
  font-weight: 200;
  margin-bottom: 30px;
  margin-top: 45px;
}
h3:hover {
  border-bottom: solid 3px #99e2d0;
  width: 8%;
  padding-bottom: 5px; /*les titre de section au survol*/
}
.backgroundCards :first-child {
  font-weight: bold; /*Titre 1 de cards */
}
.backgroundCards {
  position: relative;
  right: 5%; /*position et class englobante des cards*/
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: #ddddddee 8px 8px 8px 8px;
  padding: 10px;
  height: 55px;
  width: 100ù;
  margin-left: 2%;
  margin-bottom: 20px;
}
.backgroundCards :last-child {
  font-weight: bold; /*les prix*/
  color: rgb(68, 68, 68);
}

.backgroundCards p {
  /*espace entre les p*/
  margin: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 85%;
}

.numero {
  display: flex;
  align-items: center; /*position des prix*/
  justify-content: flex-end;
  position: relative;
  bottom: 27px;
  right: 15px;
  z-index: 1;
  font-weight: bold;
  color: rgb(68, 68, 68);
}
.tailleP {
  font-size: 0.9rem; /*taille des p qui depasser le prix*/
}

/***Section Commander****/

.BoutonExplore a {
  font-size: 1.1rem;
  width: 400px;
  text-decoration: none;
  color: white;
  font-family: "Roboto-Bold.ttf";
  cursor: pointer;
}

.BoutonExplore {
  border-radius: 10px/20px;
  border-radius: 100px 100px 100px 97px;
  background-image: radial-gradient(
    ellipse farthest-corner at 20px 0,
    #ff79da 0%,
    #9356dc 100%
  ); /* le background du bouton recherche   */
  height: 24px;
  width: 45%;
  text-align: center;
  padding: 17px;
  margin-left: 25%;
  position: relative;
  bottom: 2rem;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}

.BoutonExplore:hover {
  transform: scale(1.15);
  background: radial-gradient(
    ellipse farthest-corner at 20px 0,
    #ff79da 0%,
    #b195d4 100%
  );
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

/***Footer***/
footer {
  background-color: rgb(51, 51, 51); /*background de footer*/
  padding-top: 8px;
  padding-bottom: 0px;
  margin-top: 50px;
  margin-bottom: 0;
  height: 210px;
  width: 100%;
  position: absolute;
}
footer h3 {
  font-family: "Shrikhand-Regular.ttf";
  font-weight: lighter;
  margin-left: 6%;
  color: rgba(235, 235, 235, 0.897);
  font-size: 1.4rem;
}

.footerText a {
  text-decoration: none; /*tout les paragraphe cliquable*/
  color: white;
}

.footer a,
footer a :hover {
  text-decoration: none;
  border: transparent;
}
.footerText {
  margin-left: 6%;
  margin-top: 3%;
  color: white;
  line-height: 150%;
  font-size: 18px;
}

.footerBlock {
  display: flex;
}

.ustensils {
  padding: 0 11px 0 5px;
}

.hands {
  padding-right: 10px;
}
