@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    margin: 0;
  }
  /**Header**/
  #logo img {
    width: 40%;
  }

  #logo {
    position: relative; /*position du logo*/
    left: 28%;
  }

  .fa-arrow-left:before  /*icon Fléche*/ {
    color: rgb(31, 30, 30);
  }

  .FlecheIcon  /*move Icon arrow*/ {
    position: relative;
    bottom: 20px;
    left: 10%;
  }
}
