@media screen and (min-width: 1024px) and (max-width: 2600px) {
  @font-face {
    font-family: "Shrikhand-Regular.ttf";
    src: url("fontfamily/Shrikhand-Regular.ttf");
    src: url("fontfamily/Shrikhand-Regular.ttf?#iefix")
        format("fontfamily/Shrikhand-Regular.ttfembedded-opentype"),
      url("fontfamily/Shrikhand-Regular.ttf") format("woff"),
      url("fontfamily/Shrikhand-Regular.ttf") format("truetype"),
      url("fontfamily/Shrikhand-Regular.ttf") format("svg");
  }
  /*Les fonts*/
  @font-face {
    font-family: "Roboto-Italic.ttf";
    src: url("fontfamily/Roboto-Italic.ttf");
    src: url("fontfamily/Roboto-Italic.ttf?#iefix")
        format("fontfamily/Roboto-Italic.ttfembedded-opentype"),
      url("fontfamily/Roboto-Italic.ttf") format("woff"),
      url("fontfamily/Roboto-Italic.ttf") format("truetype"),
      url("fontfamily/Roboto-Italic.ttf") format("svg");
  }
  @font-face {
    font-family: "Roboto-Bold.ttf";
    src: url("fontfamily/Roboto-Bold.ttf");
    src: url("fontfamily/Roboto-Bold.ttf")
        format("fontfamily/Roboto-Bold.ttfembedded-opentype"),
      url("fontfamily/Roboto-Bold.ttf") format("woff"),
      url("fontfamily/Roboto-Bold.ttf") format("truetype"),
      url("fontfamily/Roboto-Bold.ttf") format("svg");
  }

  body {
    margin: 0;
  }

  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -5;
    }
  }

  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -5;
    }
  }
  .loader {
    animation: loader 1s;
    animation: loader 1s;
    animation-delay: 2s;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-fill-mode: both;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
  }

  h1 {
    font: 2em;
    font-family: "Shrikhand-Regular.ttf";
    font-weight: lighter;
    margin-bottom: 40px;
  }

  #loading {
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 6px solid rgba(192, 34, 245, 0.3);
    border-radius: 50%;
    border-top-color: rgb(82, 4, 56);
    animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    position: fixed;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  /**Header**/

  #logo {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-right: 28%;
  }
  #logo img {
    width: 650px;
  }
  #logo {
    margin-top: 1%;
    display: flex;
    justify-content: center;
  }
  /*Paris*/
  #positionParis {
    box-shadow: 0px 3px 3px #73737338 inset;
    background-color: #eeecec;
    padding-top: 2px; /*background et div englobante de Paris et icon*/
    height: 100px;
    margin-top: 10px;
  }
  #positionParis p {
    font-family: "roboto,sans-serif.ttf";
    font-size: 35px;
    font-weight: bold; /*titre Paris*/
    color: rgb(56, 55, 55);
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10px;
  }

  .fa-map-marker-alt {
    color: rgb(71, 71, 71);
    position: relative;
    bottom: 80px; /*modification et positionment icon localitation*/
    margin-left: 25%;
    font-size: 29px;
  }
  /***Section explore et reserve***/

  #ReserveExplore {
    background-color: rgb(245, 245, 245);
    padding-top: 1%; /*background de la div*/
    padding-bottom: 20%;
    margin-bottom: 50px;
  }

  #ReserveExplore h2 {
    font-size: 2.2rem;
    font-family: "roboto", sans-serif; /*titre reservation*/
    font-weight: bold;
    margin-left: 3%;
    margin-top: 5%;
  }

  #ReserveExplore p {
    display: inline;
    font-family: "roboto,sans-serif.ttf";
    color: rgb(88, 88, 88);
    font-size: 2rem;
    width: 95%; /*paragraphe*/
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 3%;
  }

  .BoutonExplore {
    border-radius: 10px/20px;
    border-radius: 100px 100px 100px 97px;
    background-image: radial-gradient(
      ellipse farthest-corner at 20px 0,
      #ff79da 0%,
      #9356dc 100%
    ); /* le background du bouton recherche   */
    height: 20px;
    width: 30%;
    text-align: center;
    padding: 40px;
    margin-right: 16%;
    margin-top: 4%;
    cursor: pointer;
  }
  .BoutonExplore a {
    font-size: 1.6rem;
    text-decoration: none; /*all buton Explore lien*/
    color: white;
    font-family: "Roboto-Bold.ttf";
    cursor: pointer;
    position: relative;
    bottom: 5px;
  }
  /***Section Fonctionnement***/
  #Fonctionnement {
    margin: 3rem 1%;
    margin-right: 0;
  }

  #Fonctionnement h2 {
    font-family: "Roboto-Bold.ttf";
    font-size: 3rem;
    margin-left: 35%;
    margin-top: 5%;
    margin-bottom: 3rem;
  }

  .ContourFonctionnement {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1px;
  }

  .contenuIcon {
    margin-right: -40px;
  }
  .BoutonTitre {
    /*background et forme des cards fonctionnement*/
    border-radius: 30px 20px 20px 30px;
    box-shadow: #d1d1d1 5px 5px 5px;
    background-color: rgb(243, 243, 243);
    height: 150px;
    cursor: pointer;
    display: flex;
    width: 69%;
    justify-content: center;
    padding-top: 30px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }

  .BoutonTitre:hover {
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
    background-color: #e3adf7;
  }

  .BoutonNumero {
    /*background et forme des numéro*/
    border-radius: 50%;
    background-color: #9356dc;
    color: white; /*All Button Number*/
    padding: 3px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: "Roboto-Bold.ttf";
    z-index: 1;
    position: relative;
    top: 123px;
    cursor: pointer;
    z-index: 1;
    margin-left: 3%;
  }

  #Fonctionnement a {
    /*tout les titre dans fonctionnment*/
    text-decoration: none;
    color: black;
    font-family: "Roboto-Bold.ttf";
    cursor: pointer;
    font-size: 1.1rem;
    padding-top: 50px;
    position: relative;
    top: 10%;
    left: 3%;
  }

  .SurvolIcon {
    /*bouger les icon*/
    font-size: 4rem;
    position: relative;
    bottom: 150px;
    margin-left: 130px;
    margin-right: 5%;
  }

  /***Section Restaurant***/

  #Restaurant {
    /*toute la section*/
    position: relative;
    top: 70px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  #Restaurant h2 {
    font-family: "Roboto-Bold.ttf";
    margin-left: 41%;
    margin-top: 30px;
    font-size: 3rem;
  }
  .cards {
    /*positionnement des card et flex*/
    flex: 1 1 40%;
    margin: 1%;
  }

  .boxcard figure img {
    object-fit: cover; /*all img of Restaurant*/
    width: 101.2%;
    height: 280px;
    border-radius: 20px 20px 0px 0px;
  }

  .boxcard figure {
    height: 370px;
    margin-bottom: 0px;
    width: 96%;
  } /* all figure of Restaurant*/

  figure {
    margin-left: 10%; /*position of restaurant cards*/
  }
  figcaption :nth-child(1) {
    font-family: "Roboto-Bold.ttf";
    font-size: 1.3rem;
    color: black;
    margin-top: 3%;
    margin-left: 2%;
  } /* figcaption of Restaurant*/

  figcaption :nth-child(2) {
    font-family: "roboto", sans-serif;
    font-size: 1.3rem;
    color: rgb(53, 53, 53);
    position: relative; /*figcaption of Restaurant*/
    bottom: 15px;
    left: 2%;
  }

  .boxcard {
    position: relative;
    right: 7%;
    bottom: 15px;
    text-decoration: none;
    color: black; /*tout les a de fonctionnement*/
    cursor: pointer;
  } /*Move all figure of Restaurant*/

  .boxcard:hover {
    transform: scale(1.05); /*effect of hover of Restaurant card*/
  }

  .fa-heart:before {
    /*icon ceour*/
    font-size: 2.4rem;
  }
  .heart,
  .heart2 {
    position: relative; /*icon Heart*/
    margin-right: 4%;
    bottom: 30px;
  }
  .corazon {
    position: relative;
    left: 8%;
    top: 10px;
  }
  .heart2 {
    position: relative;
    bottom: 47.2px;
    margin-right: 3.8%;
  }

  .heart .fa-heart {
    color: #fff;
    border-radius: 50%;
    padding: 0.2em;
  }
  .heart .fa-heart::before {
    content: "\f004";
  }

  .heart2 .fa-heart::before {
    background: -webkit-linear-gradient(#9c47fc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-weight: bold;
    transition: color 1.2s ease-out;
    opacity: 0;
    font-size: 2.6rem;
  }

  .heart2 .fa-heart:hover::before {
    animation: 4s essai forwards;
    animation-duration: 7s;
  }
  .corazon:hover .heart .fa-heart::before {
    animation: 4s cora forwards;
  }
  @keyframes essai {
    100% {
      opacity: 1;
    }
  }

  @keyframes cora {
    100% {
      opacity: 0;
    }
  }

  .nouveau {
    font-family: "Roboto-Bold.ttf";
    color: #1f997c;
    background-color: #99e2d0;
    /*Vignete nouveau sur les cards*/
    position: relative;
    left: 77%;
    bottom: 380px;
    padding: 15px 25px;
    border: transparent;
    font-size: 1.2rem;
    width: 70px;
  }

  /***Footer***/
  footer {
    background-color: rgb(51, 51, 51); /*background de footer*/
    padding-top: 8px;
    margin-top: 170px;
    margin-bottom: 0;
    height: 220px;
    position: absolute;
  }
  footer h3 {
    font-family: "Shrikhand-Regular.ttf";
    font-weight: lighter;
    margin-top: 2%;
    margin-left: 2%;
    color: rgba(235, 235, 235, 0.897);
    font-size: 2rem;
    margin-bottom: 1%;
  }

  .footerText {
    /*tout les titres de footer*/
    line-height: 150%;
  }

  footer a {
    /*enlever la decoration par défaut */
    text-decoration: none;
  }

  .ustensils {
    /*icon ustensils de cuisine*/
    padding: 0 12px 0 5px;
  }

  .hands {
    /*icon mains*/
    padding-right: 12px;
  }
}
